In [21]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [3]:
x_train = pd.read_csv("outputxNew.csv").to_numpy()
y_train = pd.read_csv("outputyNew.csv").to_numpy()

In [38]:
# tweets = pd.read_csv("tweets.csv")
# tweetI = pd.read_csv("tweet-index.csv")
df = pd.read_csv("AMZN.csv")

# Preprocessing the dates and values, merging two files

In [40]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,37.896000,37.938000,37.384998,37.683498,37.683498,70422000
1,2017-01-04,37.919498,37.984001,37.709999,37.859001,37.859001,50210000
2,2017-01-05,38.077499,39.119999,38.013000,39.022499,39.022499,116602000
3,2017-01-06,39.118000,39.972000,38.924000,39.799500,39.799500,119724000
4,2017-01-09,39.900002,40.088501,39.588501,39.846001,39.846001,68922000

In [ ]:
tweets.post_date = tweets.post_date.astype(str)
i = 0
for tweet in tweets.post_date:
    tweets.loc[i, 'post_date'] = datetime.utcfromtimestamp(int(tweets.loc[i, 'post_date'])).strftime('%Y-%m-%d')
    i = i+1

In [ ]:
merged_df = pd.merge(tweets, tweetI, how='inner', on='tweet_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [42]:
mergedFile = pd.read_csv("merged_file.csv")

# Normal Bert model that We initially decided to use for sentiment analysis

In [7]:
sentiment_pipeline = pipeline("sentiment-analysis", model="nlptown/bert-base-multilingual-uncased-sentiment")

/Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# FinBert model that we are currently using for first part of the problem i.e. Sentiment analysis

In [37]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from transformers import pipeline

tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")

model = AutoModelForSequenceClassification.from_pretrained("ProsusAI/finbert")
nlp = pipeline("sentiment-analysis", model=model, tokenizer=tokenizer)

In [43]:
def flatten(lst):
    """
    Flattens a 2D list into a 1D list.
    """
    flattened = []
    for sublist in lst:
        for item in sublist:
            flattened.append(item)
    return flattened

# Here I am trying to create my own dataset on which I'll train my secon model which is an LSTM

In [45]:
dates = ["2018-08-30", "2018-08-15","2018-07-30","2018-07-15","2018-06-30","2018-06-15","2018-05-30","2018-05-15","2018-04-30","2018-04-15",
"2017-08-30", "2017-08-15","2017-07-30","2017-07-15","2017-06-30","2017-06-15","2017-05-30","2017-05-15","2017-04-30","2017-04-15"]
x_train = []
y_train = []
for targetDate in dates:
    target_date = pd.to_datetime(targetDate)
    one_week_before = target_date - timedelta(days=7)
    one_week_before = one_week_before.strftime('%Y-%m-%d')
    start_value = one_week_before
    end_value = targetDate
    # Use boolean indexing to select tuples that fall within the specified range
    resultPart = mergedFile[(mergedFile['post_date'] >= start_value) & (mergedFile['post_date'] <= end_value)]
    resultCompany = resultPart[resultPart['ticker_symbol'] == "AMZN"]
    resultCompany = resultCompany.sort_values('retweet_num', ascending=False)
    resultCompany = resultCompany.head(200)
    # tweetsOb = result['body']
    tweetsOb = resultCompany['body'].values
    retweetsOb = resultCompany['retweet_num'].values
    commentOb = resultCompany['comment_num'].values
    likeOb = resultCompany['like_num'].values
    
    daysOb = [(datetime.strptime(targetDate, "%Y-%m-%d")-datetime.strptime(date2, "%Y-%m-%d")).days for date2 in resultCompany['post_date']]
    
    sentiResult = nlp(tweetsOb.tolist())
    labels = [{"positive":0,"neutral":0,"negative":0} for i in sentiResult]
    i =0
    for obj in sentiResult:
        (labels[i])[obj['label']] = obj['score']
        i=i+1
    positive = [elem['positive'] for elem in labels]
    negative = [elem['negative'] for elem in labels]
    neutral = [elem['neutral'] for elem in labels]
    
    labels = [int(i['label'].split()[0]) for i in sentimentResult]
    xComp = [[a,b,c,d,e,f,g] for a,b,c,d,e,f,g in zip(positive, negative, neutral, retweetsOb, commentOb, likeOb, daysOb)]    
#     xComp = flatten(xComp)

    stockTargetDate = target_date + timedelta(days=1)
    six_days_before = stockTargetDate - timedelta(days=6)
    six_days_before = six_days_before.strftime('%Y-%m-%d')

    start_value = six_days_before
    end_value = stockTargetDate.strftime('%Y-%m-%d')

    # Use boolean indexing to select tuples that fall within the specified range
    st = df[(df['Date'] >= start_value) & (df['Date'] <= end_value)]
    diff = st.Close.tolist()[-1] - st.Open.tolist()[0]
    delta = diff / st.Open.tolist()[0]
    delta
    for elem in xComp:
        x_train.append(elem)
        y_train.append(delta)

In [49]:
y_train = np.array(y_train)

In [51]:
y_train = y_train/7

In [53]:
x_train = np.array(x_train)

xDf = pd.DataFrame(x_train, columns=['A', 'B', 'C','D','E','F','G'])
yDf = pd.DataFrame(y_train.tolist(), columns=['values'])

# Export the DataFrame to a CSV file
xDf.to_csv('outputxNew.csv', index=False)
yDf.to_csv('outputyNew.csv', index=False)

In [55]:
xDf

             A    B         C     D     E      F    G
0     0.000000  0.0  0.920105  88.0   4.0  125.0  1.0
1     0.539348  0.0  0.000000  77.0   7.0  321.0  2.0
2     0.000000  0.0  0.903385  59.0   8.0  147.0  1.0
3     0.000000  0.0  0.904519  57.0  27.0   71.0  1.0
4     0.000000  0.0  0.744008  55.0  17.0   73.0  1.0
...        ...  ...       ...   ...   ...    ...  ...
3995  0.000000  0.0  0.902423   2.0   1.0    6.0  3.0
3996  0.000000  0.0  0.939989   2.0   0.0    0.0  1.0
3997  0.000000  0.0  0.551905   2.0   1.0    4.0  6.0
3998  0.000000  0.0  0.923244   2.0   0.0    7.0  7.0
3999  0.000000  0.0  0.943658   2.0   2.0    4.0  3.0

[4000 rows x 7 columns]

In [10]:
num_samples = 20
num_timesteps = 200
num_features = 7

reshaped_input_data = np.zeros((num_samples, num_timesteps, num_features))
for i in range(num_samples):
    reshaped_input_data[i] = x_train[i*num_timesteps:(i+1)*num_timesteps]

In [ ]:
newY_train = y_train[::200]

In [117]:
def Accuracy(actual,predicted):
    fails = 0;
    passes = 0;
    for i, j in zip(actual,predicted):
        if(i*j<0):
            fails=fails+1
        else:
            passes=passes+1
    return passes/(passes+fails)

# def Accuracy(actual,predicted):
#     sums = 0
#     for i, j in zip(actual,predicted):
#         sums  = sums+abs(i-j)
#     return sums

## LSTM for the second model that is the prediction

In [19]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import LSTM, Dense

# input data with shape (20, 200, 7)
input_data = reshaped_input_data

# target data with shape (20,)
target_data = newY_train

# LSTM model
model = Sequential()
model.add(LSTM(64, input_shape=(200, 7)))  # 200 time steps, 7 features
model.add(Dense(1))  # Output layer with single node for regression

model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(input_data, target_data, epochs=100, batch_size=1)

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, (<class 'list'> containing values of types {"<class 'float'>"})

In [121]:
pred = model.predict(reshaped_input_data)

1/1 [==============================] - 0s 30ms/step

In [1]:
Accuracy(pred,newY_train)

NameError: name 'Accuracy' is not defined

In [125]:
import pickle

In [126]:
with open('LSTM-Final.pkl', 'wb') as file:
    pickle.dump(model, file)