In [5]:
import pandas as pd
import numpy as np

In [54]:
tweets = pd.read_csv("tweets.csv")
tweetI = pd.read_csv("tweet-index.csv")

In [42]:
tweets.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [9]:
from datetime import datetime

In [55]:
tweets.post_date = tweets.post_date.astype(str)

In [56]:
i = 0
for tweet in tweets.post_date:
    tweets.loc[i, 'post_date'] = datetime.utcfromtimestamp(int(tweets.loc[i, 'post_date'])).strftime('%Y-%m-%d')
    i = i+1

In [59]:
tweets.post_date[5000]

'2015-01-05'

In [60]:
tweetI.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [61]:
merged_df = pd.merge(tweets, tweetI, how='inner', on='tweet_id')

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [65]:
merged_df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,2015-01-01,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,2015-01-01,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,2015-01-01,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,2015-01-01,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [67]:
same_date_df = merged_df[merged_df['post_date'] == merged_df['post_date'][0]]

In [70]:
same_date_df.sort_values(by='retweet_num', ascending=False)

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
296,550650451948212224,greatspoke,2015-01-01,Top Stock Analyst Releases Report on Top Stock...,0,431,2,AAPL
294,550650235404701697,greatspoke,2015-01-01,Analyst Report on Top Stock Market Options for...,0,430,3,AAPL
295,550650235404701697,greatspoke,2015-01-01,Analyst Report on Top Stock Market Options for...,0,430,3,AMZN
626,550779709840445441,WSJ,2015-01-01,"See how tech companies like Apple, Twitter and...",15,223,109,AAPL
38,550453624258965505,WSJ,2015-01-01,Jeff Bezos lost $7.4 billion in Amazon's worst...,21,139,57,AMZN
...,...,...,...,...,...,...,...,...
239,550601859610591232,BargainTrapper,2015-01-01,http://wp.me/p4f4mU-f7 <-- 2 stocks trading bo...,0,0,0,AAPL
240,550602053580775424,caroltheva,2015-01-01,Free course on margin usage in Options http://...,0,0,0,TSLA
241,550602865690288128,Sara20992,2015-01-01,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,0,AAPL
242,550602865690288128,Sara20992,2015-01-01,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,0,GOOGL
687,550803612197457920,SentiQuant,2015-01-01,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1,AMZN

In [3]:
!pip install transformers
from transformers import pipeline

Collecting transformers
  Using cached transformers-4.27.4-py3-none-any.whl (6.8 MB)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (0.13.4)
Requirement already satisfied: regex!=2019.12.17 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (2022.7.9)
Requirement already satisfied: packaging>=20.0 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (22.0)
Requirement already satisfied: tqdm>=4.27 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (4.64.1)
Requirement already satisfied: pyyaml>=5.1 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (6.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (0.11.4)
Requirement already satisfied: requests in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (2.28.1)
Requirement already satisfied: numpy>=1.17 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (1.24.2)
Requirement already satisfied: filelock in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from transformers) (3.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from requests->transformers) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages (from requests->transformers) (2022.12.7)
Installing collected packages: transformers
Successfully installed transformers-4.27.4

/Users/ashutoshsingh/anaconda3/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
sentiment_pipeline = pipeline("sentiment-analysis", model="nlptown/bert-base-multilingual-uncased-sentiment")

# Load your tweet data into a DataFrame
# Replace this with your actual data loading code
# tweets = pd.read_csv('tweets.csv')
goodTweet = "Tesla is awesome, it is going up and i love it."

# Extract the tweet text from the DataFrame
# tweet_texts = tweets['text'].tolist()
tweet_texts = [goodTweet]

# Perform sentiment analysis on tweets using the pipeline
results = sentiment_pipeline(tweet_texts)

# Extract the sentiment labels and scores from the results
sentiments = [result['label'] for result in results]
scores = [result['score'] for result in results]

# Add the sentiment labels and scores to the DataFrame
# tweets['sentiment_label'] = sentiments
# tweets['sentiment_score'] = scores

# Print the DataFrame with sentiment analysis results
# print(tweets[['text', 'sentiment_label', 'sentiment_score']])

print(sentiments,scores)

Downloading pytorch_model.bin: 100%|██████████| 669M/669M [01:41<00:00, 6.59MB/s]
Downloading (…)okenizer_config.json: 100%|██████████| 39.0/39.0 [00:00<00:00, 11.9kB/s]
Downloading (…)solve/main/vocab.txt: 100%|██████████| 872k/872k [00:00<00:00, 2.03MB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████| 112/112 [00:00<00:00, 31.8kB/s]

['5 stars'] [0.910667359828949]

In [76]:
# from transformers import BertTokenizer, TFBertModel
# tokenizer = BertTokenizer.from_pretrained('bert-base-multilingual-uncased')
# model = TFBertModel.from_pretrained("bert-base-multilingual-uncased")
# text = "Tesla is awesome, it is going up and i love it."
# encoded_input = tokenizer(text, return_tensors='tf')
# output = model(encoded_input)
# print(output)

In [6]:
mergedFile = pd.read_csv("merged_file.csv")

In [7]:
mergedFile.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,2015-01-01,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,2015-01-01,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,2015-01-01,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,2015-01-01,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [10]:
targetDate = "2015-05-05"
datetime.timestampfromutc(targetDate)

# 604800

AttributeError: type object 'datetime.datetime' has no attribute 'timestampfromutc'

In [13]:
from datetime import timedelta
target_date = pd.to_datetime(targetDate)
one_week_before = target_date - timedelta(weeks=1)

In [19]:
one_week_before = one_week_before.strftime('%Y-%m-%d')

In [17]:
"2015-03-31"<"2015-04-21"

True

In [20]:
start_value = one_week_before
end_value = targetDate

# Use boolean indexing to select tuples that fall within the specified range
result = mergedFile[(mergedFile['post_date'] >= start_value) & (mergedFile['post_date'] <= end_value)]

In [22]:
len(result)

24408

In [23]:
result.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
286443,592840721205428225,DCaptura,2015-04-28,".@tim @asymco If you think ""everything's bigge...",0,0,1,AAPL
286444,592840725676589057,10Xtrading,2015-04-28,"$SLV Rockets Higher, Nice Profits! $AAPL Earni...",0,1,0,AAPL
286445,592840753115734017,_PennyStock,2015-04-28,"Elon farted, $TSLA up 6% this morning http://r...",0,0,0,TSLA
286446,592840884640718848,Sandman7591,2015-04-28,.. @ryanmathews it is... right now easier to...,0,0,0,AAPL
286447,592840887476039681,Sara20992,2015-04-28,"THE BINARY OPTIONS COMPETITION WIN $100,000 ht...",0,0,0,AAPL

In [24]:
resultCompany = result[result['ticker_symbol'] == "AAPL"]

In [25]:
len(resultCompany)

12793

In [28]:
# tweetsOb = result['body']
tweetsOb = result['body'].values

In [30]:
tweetsOb[0]

'.@tim @asymco If you think "everything\'s bigger in TX", you haven\'t been to China. Yet another $AAPL blowout.'

In [ ]:
sentimentResult = sentiment_pipeline(tweet_texts)